@model ClubResponse

<div asp-validation-summary="All"> </div>

<p>
    <label asp-for="ClubName">Club name:</label>
    <input asp-for="ClubName" />
</p>

<p>
    <label asp-for="Location">Location:</label>
    <input asp-for="Location" />
</p>
<p>
    <label asp-for="ManagerName">Name of Manager:</label>
    <input asp-for="ManagerName" />
</p>