@model PlayerResponse

@{
    ViewBag.Title = "Manage Players";
}

<div class="addclub">
    <form method="post" asp-action="ManagePlayers">
        <div asp-validation-summary="All"> </div>
        <p>
            <label asp-for="PlayerName">Player name:</label>
            <input asp-for="PlayerName" />
        </p>
      
        <p>
            <label asp-for="Email">Email: </label>
            <input asp-for="Email" />
        </p>
      
        <p>
            <label asp-for="ClubID">Club ID:</label>
            <input asp-for="ClubID" />
        </p>
      
        <button type="submit">Submit</button>

    </form>
</div>